<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id) {%>
    <p>URL Generated : http://localhost:8000/url/<%= id %></p>
    <%}%>
    <div>
      <form action="/url" method="post">
        <label> Enter Your Original Url</label>
        <br />
        <input type="text" name="url" placeholder="https://example.com" />
        <br />
        <button type="submit">Generate</button>
      </form>
    </div>
  </body>
</html>
